<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h1>Editing Book</h1>
      <%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
       <% if @book.errors.any? %>
        <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <li>
            <% @book.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
            </li>
          </ul>
        <% end %>
      <p>Title</p>
      <%= f.text_field :title, class: "form-control book_title"  %>
      <p>Opinion</p>
      <%= f.text_area :body, class: "form-control book_body" %>
      </br>
      <%= f.submit 'Update Book', class: "btn btn-success" %>
      </br>
       <%= link_to "Show", book_path(@book) %>
       |
       <%= link_to "Back", "/books" %>

      <% end %>
    </div>
  </div>
</div>